.jumbotron
{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: rgba(2,139,255,1);;
    color: white;
}

.jumbotron nav
{
    float: right;
} 

.jumbotron nav a
{
    color: white;
    font-size: 12px;
}



.logo
{
    width: 25%; 
    margin-left: 510px;
    top: 0px;
}

nav #navbarNav ul li 
{
    width: 100%;
    padding-left: 90px;
}

nav #navbarNav ul li a
{
    width: 120px;
    font-size: 13px;
} 

.menu
{
    
    background-color: #1f1f1f;
    display: none;    
}

.menu a
{
    display: block;
    text-decoration: none;
}

.menu a:hover
{
    color: aqua;
}

nav #navbarNav ul li a:hover
{
    color: black;
} 

nav #navbarNav ul li .about:hover + .menu
{
    display: block;
}

