.side
{
    width: 60%;
    margin: auto;
}

.parent
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 500px;
    display: flex;
}

.child-1
{
    width: 50%;
    height: 80%;
    margin-top: 30px;
}

.child-1 h1
{
    color: #187cc2;
    font-size: 35px;
    margin-left: 300px;
}

.child-2
{
    width: 50%;
    height: 100%;
}

.nav
{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.9);
}